body{
    margin: 0;
}

/* Nav Styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 596px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
    }
}